<!doctype html>
<html>
  <head>
    <title>About <%= siteName %></title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>About <%= siteName %></h1>
    <p>Welcome to <%= siteName %>! Your go-to place for delicious recipes and healthy eating ideas. Explore a wide range of recipes from different cuisines, tailored to suit every taste and preference. Whether you're looking for quick and easy meals or exotic culinary adventures, we have something for everyone. Dive into our collection and discover your next favorite dish!</p>
  </body>
</html>
