<!doctype html>
<html>
  <head>
    <title>Healthy Recipes - <%= siteName %></title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Healthy Recipes at <%= siteName %></h1>
    <h2>Check out our selection of healthy recipes:</h2>
    <ul>
      <% availableRecipes.forEach(function(recipe) { %>
        <li><%= recipe.name %>, Calories: <%= recipe.calories %></li>
      <% }) %>
    </ul>
  </body>
</html>
