<!doctype html>
<html>
  <head>
    <title>Welcome to <%=siteName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Welcome to <%=siteName%></h1>
    <p><a href="about">About <%=siteName%></a></p>
    <p><a href="search">Search for books</a></p>
    <p><a href="add-recipe">Add a new recipe</a></p>
    <p><a href="list">List books</a></p>
    <p><a href="healthy">Healthy Recipes</a></p>
    <p><a href="register">Register with us</a></p>
    <p><a href="login">Login</a></p>
    <p><a href="listusers">User List</a></p>
  </body>
</html>
