<!DOCTYPE html>
<html>
<head>
    <title>Recipe Search</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
</head>
<body>
    <h1>Search for Recipes</h1>
    <form action="/search-recipe" method="get">
        <input type="text" name="query" placeholder="Enter recipe name">
        <button type="submit">Search</button>
    </form>    
</body>
</html>
