<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
    <title>Search Recipe</title>
</head>
<body>
    <form action="/searchmeal" method="post">
        <input type="text" name="mealName" placeholder="Enter recipe name">
        <button type="submit">Search</button>
    </form>    
</body>
</html>